/* --- Main --- */

main {
  position: relative;
  top: 5.4rem;
}

main .container {
  display: grid;
  position: relative;
  /* minmax 防止列内容溢出轨道导致重叠 */
  grid-template-columns: minmax(200px, 18vw) minmax(0, 1fr) minmax(220px, 20vw);
  column-gap: 2rem;
}

/* main .container > * {
  border: 1px solid #000;
} */